

h1 {
	font-size: 60px; 
	padding-top: 60px;
	text-align: center;
	 
}

#slogin {
	text-align: center;
	font-size: 24px;
	padding-bottom: : 60px;
}

img {
	padding-left: 325px;

}

.section {
	font-size: 18px;
	padding-left: 30px;
}

#contact {
	padding-left: 30px; 
}

.main
	{
		background-color: #ECECEC;
		box-shadow: inset 0 0 10px #000000;
	}

ol{
	font-size: 16px;
	padding-left: 60px;
	padding-bottom: 60px;

}