@import url('https://fonts.googleapis.com/css?family=Acme|Lato');


*{ margin:0; padding:0; box-sizing:border-box; }
img {width:50%;
	}

nav{
	background-color: #0abab5;
	padding: 20px 10px  10px 55%;
	text-align: right;
}

nav a { 
	color: white;
	margin: 1em;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;

} 

nav a:hover {
	background-color: tomato;
	padding: 1px; 
}

a:hover {
	color: #;
}


body {
	color:#333;
	font-family: 'Lato', sans-serif;
	font-size:20px;
	line-height:1.5em;
}

h1 {
	font-family: 'Acme', sans-serif;
	font-size: 60px; 
	padding-top: 60px;
	text-align: center;	 
}

h2{
	font-size: 26px;
	font-family: 'lato', sans-serif;
}


p {
	color: #000;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	margin: 20px;
}

/*
#giftimg
{
	margin-top: 30px; 
	margin-left: 30px;
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.47);
	width: 50%; 
}


#reminderimg
{
	margin-top:  30px; 
	margin-left: 30px;
	margin-bottom: 30px;
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.47);
}

#buyimg
{
	margin-top:  30px; 
	margin-left: 30px;
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.47);
}

*/



#slogin {
	display: block;
	text-align: center;
	font-size: 26px;
	padding-bottom: 80px;
}

#htext{
	display: block;
	margin: 20px;
	font-size: 18px;
	padding: 0px 100px;

}

#contact {
	padding-left: 30px; 
}

.hero	{	
	background-image: url(https://s3.us-east-2.amazonaws.com/ga-class-images/hero.jpg);
	background-size: cover;
	background-position: center;
	box-shadow: inset 0 0 10px;
	display: block;
	margin: 0px 2em;
	padding-top: 125px; 
	padding-bottom: 150px;
}


.blurb{
	padding-top: 30px; 
	padding-left: 20px; 
	margin-bottom: 30px;
}


#gift

{
	float: right;

}

#reminder {
	display: inline-block;
	float: right; 
	background-color: #879EB8;
	box-shadow: 0px 0px 40px -4px rgba(0,0,0,0.5);
}

.cta {
	background-color: tomato;
	padding: 10px;
	text-decoration: none;
	color: white;
	font-weight: bold;
	text-align: center;
	border-radius: 6px;
}

#hero_cta{
	margin: 40%;
	border-radius: 6px;
}

footer {
	clear: both;
	padding-top: 5%
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}


}