
@import url('https://fonts.googleapis.com/css?family=Acme|Lato');


* { margin:0; padding:0; box-sizing:border-box; }
img {width:325px;}

body {
	color:#333;
	font-family: 'Lato', sans-serif;
	font-size:16px;
	line-height:1.3;
}

h1 {
	font-family: 'Acme', sans-serif;
	font-size: 60px; 
	padding-top: 60px;
	text-align: center;	 
}

nav{
	background-color: #5DBCD2;
	padding: 20px 10px  20px 10px;
	margin: 0px 2em;
}

nav a { 
	color: white;
	margin: 1em;
	font-size: 18px;
	text-decoration: none;
	display: inline-block;
} 

a:hover {
	background-color: #FFA500;
}



#slogin {
	text-align: center;
	font-size: 26px;
	padding-bottom: : 80px;
}

.htext{
	font-size: 18px;
}

#contact {
	padding-left: 30px; 
}
.hero	{	
		background-image: url(https://s3.us-east-2.amazonaws.com/ga-class-images/hero.jpg);
		background-size:cover;
		padding: 175px 0px;
		margin: 0px 2em;
  		<!--!background-position:center;-->
  		padding: 575px;
		box-shadow: inset 0 0 10px #000000;
}
.blurb {
	font-family: 'Lato', sans-serif;
	font-size: 18px; 
	padding-top: 1.25em;
	width: 400px;
	height:150px;
	padding: 50px; 
	float: right;
	margin:-right:1em;
}


footer {
}


