@import url('https://fonts.googleapis.com/css?family=Acme|Lato');
*{ margin:0; padding:0; box-sizing:border-box;}

nav	{
	float: right;
	padding: 20px
}

p {
	font-size: 20px;
	max-width: 50%;
}

.contact {
	padding: 2em 0;
}
.content{
	display: inline-block;
}

.content p{
	padding: 2em 2em 0;
	line-height: 1.5em;

}



#blurb2 p {
	display: inline-block;
	float: right;
}
#blurb2img {
	float: left;
}

.blurbimg {
	max-width: 50%;
	float: right;
}
